html {
    font-size: 16px;
}
body {
    
    background-color: #6d6d91;
    color: white;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}
h5 {
    font-size: 0.75rem;
}