$heading-font: "Roboto", sans-serif;
$body-font: "Montserrat", sans-serif;
$instruction-font: "Patrick Hand", cursive;

$logo-color: #ffdf2b;
$primary-color: #e7470c;
$secondary-color: #e5a62d;
$heading-color: #222222;
$text-color: #444444;
